<ion-grid>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
      <div *ngIf="personaje">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <img src="{{personaje.image}}" />
            <ion-card-title>{{personaje.name}}</ion-card-title>
            <p>status: {{personaje.status}}</p>
            <p>species: {{personaje.species}}</p>
            <p>type: {{personaje.type}}</p>
            <p>gender: {{personaje.gender}}</p>
            <p>origin: {{personaje.origin.name}}</p>
            <p>location: {{personaje.location.name}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>