<ion-grid>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
      <div *ngIf="personaje">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <img src="{{personaje.image}}" />
            <ion-card-title>{{personaje.name}}</ion-card-title>
            <p>Status: {{personaje.status}}</p>
            <p>Species: {{personaje.species}}</p>
            <p>Type: {{personaje.type ? personaje.type : 'NaN'}}</p>
            <p>Gender: {{personaje.gender}}</p>
            <p>Origin: {{personaje.origin.name}}</p>
            <p>Location: {{personaje.location.name}}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>