<ion-grid>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
<ion-card>
  <ion-card-header>
    <ion-card-title>{{titulo}}</ion-card-title>
    <ion-card-subtitle>{{subtitulo}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let favorito of listaFavoritos">
        <ion-thumbnail>
          <img alt="Img Favorito" [src]="favorito.image"/>
        </ion-thumbnail>
        <ion-card-header>
          <ion-card-title>{{favorito.name}}</ion-card-title>
          <ion-card-subtitle>{{favorito.species}}</ion-card-subtitle>
        </ion-card-header>
        <ion-buttons slot="end">
          <ion-button (click)="addFavorito(favorito)" size="large" >
            <ion-icon *ngIf="!esFavorito(favorito)" name="heart-outline" slot="icon-only"></ion-icon>
            <ion-icon *ngIf="esFavorito(favorito)" name="heart" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
     
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-col>
</ion-row>
</ion-grid>