<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar</ion-title>
    </ion-toolbar>
  </ion-header>

   <!-- Campo de búsqueda -->
   <ion-searchbar [(ngModel)]="searchTxt" (ionInput)="buscarPersonaje()"></ion-searchbar>

   <!-- Lista de personajes -->
   <ion-list *ngIf="!buscando">
     <ion-item *ngFor="let personaje of personajes">
       {{ personaje.name }}
     </ion-item>
   </ion-list>
 
   <!-- Mensaje de carga o error -->
   <ion-spinner *ngIf="buscando"></ion-spinner>
   <p *ngIf="!buscando && personajes.length === 0">No se encontraron personajes</p>
</ion-content>
