<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Personajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personajes</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-personajes [listaPersonajes]="personajes" [titulo]="'Personajes'" [subTitulo]="'RickyAndMorty'"></app-personajes>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más personajes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
