<ion-grid>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">

<ion-card>
  <ion-card-header>
    <ion-card-title> {{titulo}}
    </ion-card-title>
    
    <ion-card-subtitle>{{subTitulo}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let personaje of listaPersonajes">
        <ion-thumbnail>
          <img alt="Imagen de personaje" [src]="personaje.image" />
        </ion-thumbnail>
  
        <ion-card-header>
          <ion-card-title>{{personaje.name}}</ion-card-title>
          <ion-card-subtitle>{{personaje.species}}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-buttons slot="end">
          <ion-button (click)="irAPersonaje(personaje.id)">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="addFavorito(personaje)" size="small">
            <ion-icon *ngIf="!esFavorito(personaje)" name="heart-outline"></ion-icon>
            <ion-icon *ngIf="esFavorito(personaje)" name="heart"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-card-content>
  
</ion-card>

</ion-col>
</ion-row>
</ion-grid>